@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: var(--main-typography);
}
body {
    min-width: 425px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}