header {
    width: 100%;
    box-shadow: 2px 2px 4px black;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: white;
}
header .content-header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    max-width: 1400px;
}
header .content-header .burger i {
    font-size: 2rem;
}
header .content-header .logo {
    width: 100px;
    justify-content: flex-start
}
header .content-header .logo img {
    width: 100%;
}
header .content-header .search {
    display: flex;
    overflow: hidden;
    border: solid 2px var(--color-pink);
    background-color: var(--color-pink);
    border-radius: 5px;
    width: 50%;
}
header .content-header .search input {
    width: 100%;
    padding: .8rem 0 .8rem 1rem;
    outline: none;
    border: none;
}
header .content-header .search button {
    padding: 0 .8rem;
    background-color: var(--color-pink);
    color: white;
    border: none;
    font-size: 1.7rem;
}
header .content-header .icons {
    display: flex;
    font-size: 2rem;

}
header .content-header .icons li {
    padding-left: 1rem;
}
header .content-header .nav-desktop {
    display: none;
}
@media (min-width:769px) {
    header .content-header {
        padding: 1rem 0 0 0;
    }
    header .content-header .nav-desktop {
        display: block;
        width: 100%;
    }
    header .content-header .nav-desktop ul {
        display: flex;
        justify-content: space-between;
        border-top: solid 1px var(--color-gray);
    }
    header .content-header .nav-desktop ul li {
        padding: 1.2rem 0;
        width: 20%;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.3rem;
        border: solid 1px transparent;
    }
    header .content-header .nav-desktop ul li:hover {
        background-color: var(--color-pink);
    }
    header .content-header .nav-desktop ul li:hover a {
        color: white;
    }
}